form{
    position: absolute;
width: 468px;
height: 28px;
left: 586px;
top: 154px;
background: #FFFFFF;
border: 1px solid #CED4DA;
box-sizing: border-box;
border-radius: 4px;
color: #19345E;
}
button{
    width: 96px;
    height: 40px;
    left: 586px;
    top: 578px;
    
    background: #F47522;
    border-radius: 20px;
}
body{
    background-color: rgba(red, green, blue, alpha); opacity: 20% width= 468px;
}